$def with (name)

<html>
    <head>
        <title>Anomaly Detective</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../static/css/main.css" />
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="http://code.highcharts.com/stock/highstock.js"></script>
				<script type="text/javascript" src="http://www.highcharts.com/samples/data/three-series-1000-points.js"></script>
        <!-- Move to main.js or something-->
        <script type="text/javascript" src="../static/js/charts.js"></script>
				<script src="http://code.highcharts.com/modules/exporting.js"></script>
    </head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Anomaly Detective</h3>
        </div>
        <!-- Machine/metric form begins-->
        <form role="form" class="form-inline" id="form-metric">
            <div class="form-group">
                <label form="metric-interval">Dataset: </label>
                <select class="form-control" id="dataset">
                    <option value="week1">1 Week</option>
                    <option value="week4">4 Weeks</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" id="btn-get-list">Load</button>
            <div class="preloader" id="list-preloader" style="display:none"></div>
            <span class="label label-danger" id="list-error" style="display:none">An error occurred.</span>
            <div class="form-group">
                <label for="machine-name" class="control-label">Machine:</label>
                <select class="form-control" id="machine-name" disabled>
                    <!--Rendered through JS-->
                </select>
            </div>

			<div style="display:block; margin-top:10px;">
				<div class="form-group">
						<label for="metric-name" class="control-label">Metric:</label>
						<select class="form-control" id="metric-name" disabled>
								<!--Rendered through JS-->
							</select>
				</div>
				<button type="button" class="btn btn-primary" id="btn-get-metric">Load</button>
				<div class="preloader" id="load-preloader" style="display:none"></div>
				<span class="label label-danger" id="load-error" style="display:none">An error occurred.</span>
			</div>
        </form>
        <!-- machine/mertric form ends-->

        <!-- chart container-->
        <div id="chart-container">
        </div>

        <!-- controls begin-->
        <div id="controls">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Detection Options</div>
                        <div class="panel-body">
                            <!-- panel form-->
                            <form role="form">
                                <div class="form-group">
																	<h4 for="algorithm">Algorithm</h4>
                                    <select id="algorithm-name" class="form-control">
                                        <option value="CASCADE">Cascading Windows</option>
                                        <option value="HMM">Hidden Markov Model</option>
                                        <option value="MA">Moving Average</option>
                                        <option value="NAIVE">Naive</option>
                                    </select>
                                </div>
																<!-- Algorithm parameters begin-->
                                <div class="form-group" id="algorithm-params">
																	<h4>Parameters</h4>

																	<!-- Parameters for Moving Average begin -->
																	<div id="params-ma" style="display:none">
																		<div class="form-group">
																			<label>Window Size</label>
																			<input type="text" id="params-ma-window" class="form-control" value="100" />
																		</div>
																		<div class="form-group">
																			<label>Threshold</label>
																			<input type="text" id="params-ma-threshold" class="form-control" value="3" />
																		</div>
																	</div>
																	<!-- Parameters for Moving Average end-->

																	<!--Parametes for HMM begin-->
																	<div id="params-hmm" style="display:none">
																		<div class="form-group">
																			<label>Number of states</label>
																			<input type="text" class="form-control" id="params-hmm-states" value="10" />
																		</div>
																		<div class="form-group">
																			<label>Percentage</label>
																			<input type="text" class="form-control" id="params-hmm-percentage" value="2" />
																		</div>
																	</div>
																	<!-- Parameters for HMM end-->
																	<!--Parameters for NAIVE begin-->
																	<div id="params-naive" style="display:none">
																			<div class="form-group">
																				<label>Deviation Factor</label>
																				<input type="text" class="form-control" id="params-naive-deviation" value="3" />
																			</div>
																	</div>
																	<!--Parameters for NAIVE end-->
                                                                    <!--Parameters for CASCADE begin-->
                                                                    <div id="params-cascade">
                                                                        <div class="form-group">
                                                                            <label>Base Window Size</label>
                                                                            <input type="text" class="form-control" id="params-cascade-base" value="512" />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Levels</label>
                                                                            <input type="text" class="form-control" id="params-cascade-levels" value="1" />
                                                                        </div>
                                                                    </div>
                                                                    <!--Parameters for CASCADE end-->
													</div>
													<!--Algorithm parameters end-->
													<button type="button" id="algorithm-submit" class="btn btn-primary">Submit</button>
													<button type="button" id="likelihoods" class="btn btn-danger">Get Likelihoods</button>
													<div class="preloader" id="algorithm-preloader" style="display:none"></div>
													<span class="label label-danger" id="algorithm-error" style="display:none">An error occurred.</span>
												</form>
												<!-- panel form ends-->
											</div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Annotation</div>
                        <div class="panel-body">
													<ul class="list-unstyled list-inline" id="stats">
														<li>
															<h4>Min Y</h4>
															<span id="stats-min">200</span>
														</li>
														<li>
															<h4>Max Y</h4>
															<span id="stats-max">200</span>
														</li>
														<li>
															<h4>Range Y</h4>
															<span id="stats-range">200</span>
														</li>
														<li>
															<h4>Mean</h4>
															<span id="stats-mean">200</span>
														</li>
													</ul>
												</div>
                    </div>
                </div>
            </div>
        </div> <!--controls end-->
    </div><!--container ends-->
</body>
</html>
